.carousel {
    position: relative;
    width: 100%;
    max-width: 100px; /* Adjust as needed */
    margin: 0 auto;
    overflow: hidden;
  }
  
  .carousel-img {
    width: 70%;
    height: auto;
  }
  
  .prev-btn,
  .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 24px;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 2;
  }
  
  .prev-btn {
    left: 35px;
  }
  
  .next-btn {
    left: 605px;
  }