.logofoot {
    width: 40%;
    height: 80%;
    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .mr {
    margin-left: 2px;
  }

  .text-h2 {
    font-size: 1.5em;
  }

  .logo-pad {
    margin-left: 10px;
    margin-right: 70px;
    
  }

 